<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Sus products</ng-template>
    <div *ngIf="(products$ | async) as products">
      <p *ngIf="!products.length">No hay productos</p>
      <ul>
        <li *ngFor="let product of products">
          {{ product.title }}
        </li>
      </ul>
    </div>
    
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Datos personales</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Sus products</ng-template>
  </mat-step>
</mat-horizontal-stepper>

